In [2]:
from google.colab import drive

drive.mount('/content/drive');

Mounted at /content/drive

In [3]:
from scipy.stats import ttest_1samp
import pandas as pd
import numpy as np

# Example 1

**Perform one sample test to check if the average grade of students is 83 or not**

In [12]:
grades_dataset = '/content/drive/MyDrive/FDS Practical/gradedata2.csv'

df = pd.read_csv(grades_dataset)
df.head()

     fname     lname  ... grade                                     address
0   Marcia      Pugh  ...  82.4        7379 Highland Rd. , Dublin, GA 31021
1   Kadeem  Morrison  ...  78.2          8 Bayport St. , Honolulu, HI 96815
2     Nash    Powell  ...  79.3           Encino, CA 91316, 3 Lilac Street
3  Noelani    Wagner  ...  83.2  Riverview, FL 33569, 9998 North Smith Dr.
4  Noelani    Cherry  ...  87.4   97 SE. Ocean Street , Bethlehem, PA 18015

[5 rows x 8 columns]

In [13]:
mean = np.mean(df['grade'])
mean

82.55605000000001

In [14]:
tstat, pvalue = ttest_1samp(df['grade'], mean)

pvalue

0.999999999999948

In [15]:
if pvalue < 0.05:    # alpha value is 0.05 or 5%
   print("we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

we are accepting null hypothesis

# Example 2

**Perform one sample test to check if the average age of patients suffering from heart disease is 52 or not**

In [16]:
heart_dataset = '/content/drive/MyDrive/FDS Practical/heart.csv'

df = pd.read_csv(heart_dataset)

data = df[df['target'] == 1]

data.head()

    age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
5    58    0   0       100   248    0  ...      0      1.0      1   0     2       1
10   71    0   0       112   149    0  ...      0      1.6      1   0     2       1
12   34    0   1       118   210    0  ...      0      0.7      2   0     2       1
15   34    0   1       118   210    0  ...      0      0.7      2   0     2       1
16   51    0   2       140   308    0  ...      0      1.5      2   1     2       1

[5 rows x 14 columns]

In [18]:
ages_mean = np.mean(data['age'])
ages_mean

52.40874524714829

In [19]:
tstat, pvalue = ttest_1samp(data['age'], ages_mean)

pvalue

1.0

In [20]:
if pvalue < 0.05:    # alpha value is 0.05 or 5%
   print("we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

we are accepting null hypothesis